@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#3b82f6, #4a7dff)
}

#container{
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.101)
}

#search{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;

    input{
        border: none;
        background-color: transparent;
        font-size: 16px;
        width: 100%;
        
        &focus-visible{
            outline: none;
        }
    }

    buttton{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

#weather{
    display: none;
    margin-top: 20px;

    &.show{
        display: block;
    }

    #title{
        text-align: center;
        margin-bottom: 5px;
        font-weight: 600;
        color: #372f3f;
    }

    
}


#temp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #5a7cdc, #606dde);
    color: #fafafa;
    border-radius: 20px;
    padding: 20px;
    
    img{
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
    }
}

#temp_value{
    font-size: 50px;
    font-weight: bold;
    line-height: 55px;
}

#temp_description{
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    .info{
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 4px 10px;
        border-radius: 8px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        background-color: #fafafa;
        gap: 10px;
        
        h2{
            font-size: 12px;
            font-weight: 600;
        }

        i{
            text-align: center;
            font-size: 20px;
            width: 20%;
        }
    }
}

#temp_max_icon{
    color: #7f1d1d;
}

#temp_min_icon{
    color: #028467;
}

#humidity_icon{
    color: #0ea5e9;
}

#wind_icon{
    color: #7c3aed;
}